.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--eden) !important;
  font-weight: 500;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: var(--eden);
  pointer-events: none;
}

.ant-tabs-tab:hover {
  color: var(--green);
}

.ant-btn.cancel-btn {
  background-color: #FFFFFF;
  border-color: #D9D9D9;
  margin: 5px;
}

.ant-btn.edit-save-btn {
  background-color: var(--eden);
  color: white;
  margin: 5px;
}
