@import '~antd/dist/antd.variable.min.css';
@font-face {
  font-family: 'Avenir-Bold';
  src: url('../../assets/fonts/AvenirNextLTProBold.otf');
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../../assets/fonts/AvenirLTProHeavy.otf');
}

.historyTab {
  width: 75vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 6vh;
}

.container {
  width: 92%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tableHeader {
  font-family: 'Avenir-Heavy';
  font-size: 1.9em;
  padding: .5em;
  margin: 0;
  width: '100%';
}

.heavyText {
  font-family: 'Avenir-Heavy';
  font-size: 1em;
}

.iconDiv {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.overviewDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-top: 1em;
  width: 23em;
  padding-right: 10em;
}

.iconTxt {
  font-family: 'Avenir-Heavy';
  font-size: 2em;
  line-height: 1em;
  color: #115740;
  text-align: center;
}

.icon {
  font-size: 10em;
  color: #115740;
}

.table {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 2em;
}

.spacer {
  height: 3em;
}

