@import '../../../common/global.css';

.events {
  margin: auto;
  width: 79vw;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}

.title {
  font-size: 32px;
  font-family: 'Inter';
  font-weight: 600;
  margin: 15px 5px;
}

.card {
  margin: 15px 5px;
  border-radius: 5px;
}

.filter-card {
  margin: 15px;
  margin-top: 25px;
  border-radius: 5px;
  padding-bottom: 0px !important;
}

.search-bar {
  width: 70% !important;
  margin-left: 15%;
}

.filters {
  margin: 7px 5px;
}

.distribution-radio-btn {
  border-color: var(--green) !important;
  color: var(--green) !important;
  margin-right: 1px;
  margin-left: 0px;
}

.food-radio-btn {
  border-color: var(--mustard) !important;
  border-left-color: var(--mustard) !important;
  color: var(--mustard) !important;
  margin-right: 1px;
}

.event-type-radio,
.status-type-radio {
  margin: 10px;
}

.new-event-btn,
.new-event-btn:hover,
.new-event-btn:focus {
  background-color: var(--eden);
  border-color: var(--eden);
  color: white;
  font-weight: 400;
  margin: 0 0 40px 0;
  float: right;
}

.new-event-type-btn,
.new-event-type-btn:hover,
.new-event-type-btn:focus {
  background-color: white;
  border-color: var(--eden);
  color: var(--eden);
  font-weight: 400;
  margin: 0 5px 40px 15px;
  float: right;
}

.events-grid {
  max-height: 80vh;
  overflow-y: scroll;
  margin: 4px;
}

.events-grid::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1050px) {
  .search-bar {
    width: 75%;
  }
}

.mobile-new-event-btn {
  margin-bottom: 1em;
}
