@import '~antd/dist/antd.variable.min.css';
@font-face {
  font-family: 'Inter-Regular';
  src: url('../../assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

.root {
  max-height: 100vh;
  overflow: auto;
}

.events {
  margin: auto;
  width: 79vw;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}

.card {
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(108, 194, 74, 0.25);
}

.search-bar {
  border-color: var(--eden);
  margin: auto;
  width: 50%;
}

.event-type-radio {
  margin: auto;
  width: 25vw;
}

.status-type-radio {
  margin: auto;
  width: 25vw;
}

.new-event-btn, .new-event-btn:hover, .new-event-btn:focus {
  background-color: var(--eden);
  border-color: var(--eden);
  color: white;
  float: right;
}

.events-grid {
  max-height: 80vh;
  overflow-y: scroll;
}
