@import '~antd/dist/antd.variable.min.css';
@font-face {
  font-family: 'Inter-Regular';
  src: url('../../assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

.event-card {
  margin: 10px;
  border-color: #BFBFBF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #D3D3D3;
}

.event-date-time {
  font-family: Inter-Regular;
  font-weight: lighter;
  font-size: 18px;
  height: 5vh;
}

.num-volunteers {
  font-family: Inter-Regular;
  font-size: 18px;
  height: 1vh;
}
