@import '~antd/dist/antd.variable.min.css';
@font-face {
  font-family: 'Inter-Regular';
  src: url('../../assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

.event-card {
  margin: 10px;
  border-color: #BFBFBF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(108, 194, 74, 0.25);
}

.event-date-time {
  font-family: Inter-SemiBold;
  font-size: 14px;
  height: 8vh;
}

.num-volunteers {
  font-family: Inter-Regular;
  font-size: small;
}
