@import '../../../common/global.css';

/* 3 events in each row */
.past-event,
.upcoming-event {
  width: 33.3%;
  text-align: left;
  border-right: none;
  font-size: 16px;
  height: 165px;
}

.event-grid {
  box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.06) !important;
}

.dg {
  color: var(--eden);
  font-family: Avenir;
  font-size: 14px;
}

.event p {
  margin-bottom: 0;
  font-size: 16px;
}

.event-start-date {
  margin-top: 1em;
  margin-bottom: 0px;
}

.event-name {
  color: var(--eden) !important;
  font-weight: 600;
}

.upcoming-events {
  width: 100%;
  border-bottom: none;
  margin-bottom: 3vh;
}

.ant-card-head {
  font-size: 34px;
}

.ant-card-head-title {
  font-weight: 600;
}

.event-end {
  margin-bottom: 5px !important;
}

.semi-opaque-black {
  color: rgba(0, 0, 0, 0.45);
}
