@import '../../../common/global.css';

.generalInformationTitle,
.addlInformationTitle {
  font-family: Avenir;
  font-weight: 1000;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.fieldRow {
  margin-bottom: 20px;
}

.fieldName {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  margin-top: 3px;
  margin-right: 3px;
  text-align: right;
}

.timePicker {
  margin-left: 5px;
}

.description {
  line-height: 120%;
}

.btn1 {
  float: right;
  display: flex;
  justify-content: flex-end;
  color: var(--apple);
}

.uploadBtn {
  background: rgba(108, 194, 74, 0.25);
  color: rgba(0, 0, 0, 0.85);
  border: rgba(17, 87, 64, 0.25);
}

.grayBorder {
  border: 1px solid gray;
}

.selectEventTypeMenu {
  width: 100px;
}

.newEventTypeBtn {
  color: var(--apple);
}
