@import '../../../common/global.css';

.required {
  color: red;
  font-size: 16px;
  margin-top: 8px;
  margin-right: 8px;
}

.heading {
  font-family: Avenir;
  font-size: 34px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.02em;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

.fieldRow {
  margin-bottom: 20px;
}

.fieldName {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  margin-top: 3px;
  margin-right: 3px;
  text-align: right;
}

.fieldInput {
  margin-bottom: 15px;
}

.radioInput {
  margin-top: 4px;
}

.errText {
  color: red;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 500;
  margin-top: -4px;
  margin-bottom: 4px;
}
