.filter-availabilities {
  display: grid;
}
.filter-availabilities input[type='text'] {
  border: 1px gray solid;
}
.filter-availabilities label {
  font-weight: bold;
}
.filter-availabilities button {
  border: 1px #d9d9d9 solid;
  outline: none;
  background-color: white;
  border-radius: 2px;
  margin: 0 5px;
}
#add-user-btn {
  background-color: #6cc24a;
  color: white;
}
