.volunteer-availabilities {
  display: flex;
  flex-direction: row;
  grid-gap: 25px;
}
.volunteer-availabilities > div {
  padding: 10px 40px 5px 20px;
  border: 1px #6CC24A40 solid;
  box-shadow: 0px 4px 4px #6CC24A40;
  border-radius: 8px;
}

.filter-availabilities img {
  width: 25px;
  margin-right: 10px;
}
.filter-availabilities input[type='search'] {
  border: 1px #d9d9d9 solid;
  width: 400px;
  padding: 5px 5px 5px 40px;
  outline: none;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.filter-availabilities .right-align {
  float: right;
}
.filter-availabilities button {
  border: 1px #d9d9d9 solid;
  outline: none;
  background-color: white;
  border-radius: 2px;
  margin: 0 5px;
  padding: 5px 10px;
}
.filter-availabilities button:hover {
  background-color: lightgray;
}
#add-user-btn {
  background-color: var(--apple);
  color: white;
}
#add-user-btn:hover {
  background-color: var(--msu-green);
}

.filter-availabilities label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  margin-top: 15px;
}
.filter-availabilities label > select {
  width: 250px;
  border-radius: 5px;
  padding: 2.5px;
}
