.past-events-container {
  margin-bottom: 2vh;
}

.past-event {
  width: 100%;
  text-align: left;
  border-right: none;
  height: 174px;
  font-size: 16px;
}

.past-event p {
  margin-bottom: 0;
}

.past-event-name {
  color: #115740 !important;
  font-weight: 600;
}

.past-event-start-date {
  margin-top: 5px;
}

.past-event-end {
  margin-bottom: 5px !important;
}

.ant-card-head-title {
  font-weight: 600;
}
