h2 {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 19px; */
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.45);
  margin: 0;
}

h3 {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  /* line-height: 27px; */
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.upcoming-event {
  width: 33.3%;
  text-align: left;
  border-right: none;
  font-size: 16px;
  height: 165px;
}

.upcoming-event p {
  margin-bottom: 0;
  font-size: 16px;
}

.upcoming-event-start-date {
  margin-top: 5px;
}

.upcoming-event-name {
  color: #115740 !important;
  font-weight: 600;
}
.upcoming-events {
  width: 100%;
  border-bottom: none;
  margin-bottom: 3vh;
}

.ant-card-head {
  font-size: 34px;
}

.ant-card-head-title {
  font-weight: 600;
}

