.requirementsTag {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
}

.containerBorder {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
}
