@import '../../../../common/global.css';

.eventPageContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventPageLeftContainer {
  width: 46%;
  height: 50em;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 0.75rem;
}

.eventPageLeftSection {
  background-color: white;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eventInfoContainer {
  position: relative;
  background-color: white;
  margin-top: 4rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-family: "Avenir";
  color: black;
  font-weight: 800;
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.subhead {
  color: #888888;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.requirementsTag {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}

.containerBorder {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-top: 2em;
}

.sectionText {
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 28px;
}

.editButton {
  width: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editEventButton {
  height: 45px;
}

.buttonText {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
