@import '../../../../common/global.css';

.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked):hover {
  color: var(--eden) !important;
}

.ant-radio-button-wrapper-checked {
  background-color: var(--eden) !important;
  border-color: var(--eden) !important;
  color: white !important;
}

.ant-radio-button-wrapper-checked:hover {
  color: white !important;
  cursor: default;
}

.ant-btn-primary {
  background-color: var(--eden) !important;
  border-color: var(--eden) !important;
}

.ant-btn-default:hover {
  border-color: #d9d9d9 !important;
  color: var(--eden) !important;
}
