@import '~antd/dist/antd.variable.min.css';
@font-face {
  font-family: 'Inter-Regular';
  src: url('../../assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

.database-tab {
  width: 79vw;
  height: 83vh;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
  border-color: rgba(108, 194, 74, 0.06);
  box-shadow: 0px 4px 4px rgba(108, 194, 74, 0.25);
  margin: 5px;
}

.database-header {
  height: 13vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-box {
  display: flex;
  flex-direction: column;
  height: 5.63vh;
  width: 17.77vw;
}

.dropdown-label {
  font-family: Inter-SemiBold;
  font-size: 14px;
  height: 1vh;
  padding-left: 5px;
  color: #515767;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  flex-wrap: wrap;
}

.dropdown-button {
  height: 4vh;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 16px;
}

.dropdown-button-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 16px;
  font-weight: 400;
}

.table-label {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 5.5%;
  padding-right: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.table {
  width: 100%;
  padding-left: 5.5%;
  padding-right: 2%;
}

.menu {
  font-family: Inter-Regular;
  font-size: 16px;
  color: black;
}

.table-row {
  height: 5.3vh;
  margin: 0;
  padding: 0;
}

.divider {
  margin: 0;
}

.view-heat-map-button-mobile-container {
  display: flex;
  justify-content: center;
}

.view-heat-map-button-mobile {
  background: #115740;
  border-radius: 5px;
  height: 5.5vh;
  width: 28vh;

  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.search-volunteer-mobile-container {
  display: flex;
  padding-top: 2vh;
}
