.next-button {
  background-color: #115740 !important;
  color: white !important;
  border-color: #115740;
}

.previous-button {
  border-color: #d9d9d9;
}

.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.login-signup-button {
  border-color: #d9d9d9;
  position: absolute !important;
  bottom: 10px;
}
