.next-button {
  position: absolute !important;
  bottom: 10px;
  right: 20px;
  background-color: #115740 !important;
  color: white !important;
  border-color: #115740;
}

.previous-button {
  border-color: #d9d9d9;
  position: absolute !important;
  bottom: 10px;
}
.login-signup-button {
  border-color: #d9d9d9;
  position: absolute !important;
  bottom: 10px;
}
