@import '../../common/global.css';

.wrapper {
  padding: 1% 3% 1% 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.steps {
  padding: 15px 7% 20px 9%;
}


.nav-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.previous-button {
  border-color: #d9d9d9;
}
