@import '~antd/dist/antd.css';

:root {
  --apple: #6cc24a;
  --msu-green: #154734;
  --eden: #115740;
  --corn: #f6eb61;
  --mustard: #eaaa00;
  --orange: #ff8200;
  --cherry: #da291c;
  --green: #009a44;
  --brown: #a1561c;
  --purple: #4b384c;
}

.site-background {
  background: white;
  height: 100%;
  width: 100%;
}
