@import '../../common/global.css';

.hours-container {
  margin-left: 15px;
  margin-top: 5px;
}

.review-volunteer-logs-title {
  font-family: Avenir;
  font-weight: 900;
  padding: 0 5px 5px 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px 10px 2px 2px;
  padding: 1.5em;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 0.5em;
  padding-left: 5em;
  padding-right: 1em;
}

.table-header {
  margin-top: 15px;
  margin-bottom: 70px;
}

.search-table-title {
  float: left;
  font-family: Avenir;
  font-weight: 600;
  font-size: 20px;
  margin: 7.5px 0 0 32.5px;
}

.approve-action-buttons {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 20px;
}

.approve-button, .decline-button {
  margin-right: 15px;
}

.table-container {
  padding: 0 20px;
}
