@import '../../common/global.css';

.review-volunteer-logs-title {
  font-family: Avenir;
  font-weight: 900;
  padding: 15px 5px 10px 5px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px 10px 2px 2px;
  padding: 1.5em;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 0.5em;
}

.approve-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 20px;
}

.table-container {
  padding: 0 20px;
}
