@import '../../common/global.css';

.volunteerAvContainer {
  margin: 0;
}

.volunteerAvTitle {
  margin-left: 14px;
  margin-bottom: 5px;
  font-family: Avenir;
  font-size: 36px;
  font-weight: 1000;
}

.volunteerAvLeft {
  float: left;
  width: 75%;
}

.volunteerAvFiltersContainer {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 20px 20px 25px 15px;
  margin: 5px 40px 10px 0;
}

.filterRow {
  margin-left: 8px;
  margin-bottom: 7px;
}

.filterFilledMedium {
  font-size: 28px;
  margin-left: -3px;
}

.filterSearchBar {
  margin-left: 10px;
}

.filterSearchOutlined {
  font-size: 18px;
  color: #bfbfbf;
  margin-top: -1px;
  margin-right: 5px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
  flex-wrap: wrap;
}

.dbButton {
  padding: 6px 12px;
  height: 36px;
  margin: 6px;
}

.dropdownBox {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin-top: 15px;
  margin-left: 10px;
}

.dropdownLabel {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  padding-left: 2px;
  margin-bottom: 5px;
  color: #515767;
}

.dropdownButton {
  padding: 15px 12px 15px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Avenir;
  font-size: 16px;
}

.dropdownButtonText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
}

.volunteerAvRight {
  float: right;
  width: calc(25% - 25px);
  margin-right: 25px;
}

.volunteerAvRightHeaderContainer {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 15px;
}

.volunteerAvRightHeader {
  font-family: Avenir;
  font-weight: 1000;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 25px;
}

.volunteerAvRightLegend {
  font-family: Avenir;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 25px;
}

.volunteerAvRightName {
  font-family: Avenir;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-left: 25px;
  margin-bottom: 3px;
  padding-top: 2px;
  color: black;
}

.volunteerAvRightName:hover {
  color: var(--eden);
}

.volRowIcon {
  font-size: 16px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
